# Terraform local state
*.tfstate
*.tfstate.*

# Terraform crash logs
crash.log
crash.*.log

#Terraform .tfvars
*.tfvars
*.tfvars.json
# Terraform working directory
.terraform/

# Backup and temp files
*.backup
*.bak
*.tmp

# OS / editor files
.DS_Store
Thumbs.db

lambda.zip
**/lambda.zip